body {background-color: rgba(205, 201, 201, 0.799);margin: 0;}
header {background-color: white;}
h1 {font-size: 44px; margin: 0;}
.container {width: 600px; margin: 0 auto;}
.post { background-color: white; margin-top: 40px; 
box-shadow: 1px 3px 7px rgba(50, 50, 50, 1);}
span {color: rgb(200, 200, 200);}
img {width: 100%;}
.post-header {display: flex; justify-content: space-between; align-items: center;}
.post h2, .post span {padding: 15px 15px; margin: 0;}

